<ion-view id="login-view" view-title="Entre com suas credenciais">
	<ion-content class="padding" scroll="false">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">Usuario</span>
		    <input type="text" placeholder="Usuario" ng-model="login.usuario">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Senha</span>
		    <input type="password" ng-model="login.senha">
		  </label>
			<button class="button button-full button-calm" ng-click="entrar()">
  			Entrar
			</button>
		</div>
	</ion-content>

</ion-view>
